*{
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

html{
    background: url("./images/bg-top.svg") no-repeat, url("./images/bg-bottom.svg") no-repeat; 
    background-color: hsl(240, 84%, 95%);
    background-size:auto, auto;
    background-position:right, left;
    background-position-y: -70px, 350px;
    color:hsl(233, 13%, 49%);
}

h1{
    font-size:56px;
    font-weight: bold;
    color:hsl(232, 13%, 33%);
}

h2{
    font-size:x-large;
    color:hsl(233, 13%, 49%);
}

hr{
    width: 250px;
    border:0;
    height: 1px;
    background: lightgray;
    margin:10px;
}

button{
    background-image:linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border:0;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    margin-top:15px;
    color:hsl(240, 78%, 98%);
    text-transform: uppercase;
    font-size:11px;
    letter-spacing: 3px;
}

.pricing{
    display:flex;
    flex-wrap: wrap;
    width:200px;
    margin-left:605px;
    justify-content: center;
    font-size:small;
    color:hsl(234, 14%, 74%);
}

.container{
    display:flex;
    flex-direction: row;
    width:1000px;
    margin:60px 250px;
    gap:3px;
    font-size: medium;
}

.plan-basic, .plan-proffesional, .plan-master{
    display:flex;
    width:300px;
    height:370px;
    flex-direction: column;
    background: hsl(240, 78%, 98%);
    align-items: center;
    border-radius: 10px;
}

.plan-basic:hover, .plan-proffesional:hover, .plan-master:hover{
    height: 390px;
    margin-top:-10px;
    background-image:linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color:hsl(240, 78%, 98%);
}

.plan-basic:hover h1, .plan-proffesional:hover h1, .plan-master:hover h1{
    color:hsl(240, 78%, 98%);
}

.plan-basic:hover button, .plan-proffesional:hover button, .plan-master:hover button{
    background:white;
    color:hsl(237, 63%, 64%);
}

.plan-content{
    text-align: center;
    margin:15px;
}

.switchBtn {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switchBtn input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .attribution{
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    font-size: medium;
    text-align: center;
}

.attribution a{
    text-decoration: none;
    color:hsl(237, 63%, 64%);
}

@media(max-width: 1000px) and (min-width: 0px) {

  .pricing{
    margin-left:19%;
  }

  .container{
    display:flexbox;
    flex-wrap: wrap;
    width: fit-content;
    margin:30px 7%;
    gap:10px;
  }
  
}
